@font-face {
    font-family: Assistant-Regular;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1687467407/Assistant-Regular_wcxq1z.ttf);
  }
@font-face {
    font-family: Assistant-Bold;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1687467468/Assistant-Bold_itkktn.ttf);
  }
@font-face {
    font-family: Karantina;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1687638595/Karantina-Light_mvayf9.ttf)
}