.Image{
    width: 100%;
 height: fit-content;
}

.Image-desc{
    color: #9f9595;
    font-size: 0.8em;
    padding-block: .5em;
}
p{
    text-align: justify;
}
.poem{
    width: 60%;
}
.indent{
    font-style: italic;
    font-weight: 600;
}
.main-content{
}