.intro-container {
    position: relative;

    .hero-img {
        width: 100%;
        height: 35% !important;
        opacity: 0.9;
    }

    .quote-container {
        background-color: #6e7ba9;
        margin-top: -6px;
        font-size: 1.7em;
        border-radius: 0px 0px 60px 60px;

        .quote {
            color: #fff;
            width: 80%;
        }

    }

    .title-container {
        position: absolute;
        top: 0em;
        width: 100%;
        text-align: center;

        .main-title {
            color: #fff;
            margin-bottom: 0;
            font-size: 2.2em;
            margin-inline-start: .5em;
        }

        .sub-title {
            color: #fff;
            margin-inline-start: 1.5em;
            font-size: 1em;
        }

    }

    .intro-txt-container {
        text-align: justify;
    }

    .start-btn-warpper {

        appearance: button;
        backface-visibility: hidden;
        background-color: #6e7ba9;
        border-radius: 6px;
        border-width: 0;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
        font-size: 1.1em;
        height: 44px;
        line-height: 1.15;
        margin: 12px 0 0;
        outline: none;
        overflow: hidden;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-transform: none;
        transform: translateZ(0);
        transition: all .2s, box-shadow .08s ease-in;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        margin-bottom: 2em;


    }

    .start-btn-warpper:disabled {
        cursor: default;
    }

    .start-btn-warpper:focus {
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    }
}

.ops-btns-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 5em;
    gap: .5em;
    padding: 1em;
    background: linear-gradient(#6e7ba9, #04143A);

    .title {
        color: #fff;
        background-color: #10111385;
    }

    .filler {
        grid-row: 5;
        margin-bottom: auto;
    }

    .nav-btn {
        position: relative;
        border: 1px solid #d3d3d380;
        height: 9em;
        background-color: #10111385;
        border: 1px solid lightgray;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 1.3em;
        box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.38);
    }

    .nav-btn-txt {
        background-color: #85858585;
        position: absolute;
        text-align: center;
        font-size: 1.1em;
        background-color: rgba(85, 84, 89, 0.51);

    }

    .nav-btn-img {
        width: 80%;
        height: fit-content;
    }

    .nav-btn1 {
        grid-column: 1;
        grid-row: 2;
    }

    .nav-btn2 {
        grid-column: 2;
        grid-row: 2;

        .nav-btn-txt {
            position: absolute;
            width: 80%;

        }
    }

    .nav-btn3 {
        .nav-btn-img {
            width: 80%;
            height: 80%;

        }

        .nav-btn-txt {
            width: 80%;
        }

        grid-column: 1;
        grid-row: 3;
    }

    .nav-btn4 {
        .nav-btn-img {
            width: 80%;
            height: 80%;

        }

        grid-column: 2;
        grid-row: 3;

    }

    .btn-background-image {
        width: 100%;
    }
}