.game-type-btns-container{
    align-items: center;
    gap:10px;
    .game-type-btn{
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(#308f18, #041405);
        font-size: 1.7em;
        padding: 15px;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;    }
        
    }
.trivia-intro{
    margin-bottom: 10em;
}
.trivia-question {
    .question-title {
        padding-block: 1em;
        font-size: 2em;
        color: white;
        background: linear-gradient(#308f18, #041405);
    }

    .options-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;

        .btn-option {
            min-height: 100px;
            font-weight: 600;
            
            padding: 15px;
        }

        .btn-option:hover {
            transition: .5s;
            // background-color: white;

        }

        .btn-option1 {
            grid-column: 1;
            grid-row: 1;
        }

        .btn-option2 {
            grid-column: 2;
            grid-row: 1;

        }

        .btn-option3 {
            grid-column: 1;
            grid-row: 2;
        }

        .btn-option4 {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .explanation-container {
        .explanation-txt {
            font-weight: bold;
            margin-bottom: 40px;
        }

        .explanation-desc {
            margin-bottom: 40px;
        }

        .explanation-img {
            width: 100%;

        }

        .next-quetion-btn {
            background: linear-gradient(#308f18, #041405);
            width: 100%;
            font-size: 1.7em;
            color: #fff;
            padding: 1em;
        }
    }
}
.end-of-triva-msg-conatiner{
    justify-content: start;
    .end-of-triva-msg{
        font-size: 3em;
    }

    .back-btn{
        background: linear-gradient(#308f18, #041405);
        width: 100%;
        font-size: 1.1em;
        color: #fff;
        padding: 1em;
        margin-block: 1em;
    }
}
.end-of-triva-msg-contaoner{

    .end-of-triva-msg{
        font-size: 3em;
        margin-bottom: 5em;
    }
    .back-btn{
        background: linear-gradient(#308f18, #041405);
        width: 100%;
        font-size: 1.1em;
        color: #fff;
        padding: 1em;
    }
}